{% extends 'segmentation/base.html' %} {% block content %}
<form method="POST" class="post-form" enctype="multipart/form-data">

    {% csrf_token %} {{ form.as_p }}
    <input type="file" value="demo" name="files" multiple /><br><br>
    <input type="file" name="files" value="C:\Users\parma\PycharmProjects\pythonProject1\pythonProject\CAnet\Major_Project\Medical_Diagnosis_And_3D_Imaging\segmentation\templates\segmentation\base.html" multiple />
    <button type="submit" class="save btn btn-default">Upload</button>

</form> {% endblock %}